In [ ]:
#Unique words in a sentence
sentence = input("Enter sentence: ").lower()

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:",(unique_words))

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'python', 'easy', 'powerful', 'and', 'is'}

In [ ]:
#Highest Salary from Employee Data
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = ""
highest_salary = 0

for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [ ]:
#Find Maximum and Minimum Values
numbers = [45, 22, 89, 10, 66]

max_value = numbers[0]
min_value = numbers[0]

for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [ ]:
#Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [ ]:
#Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]

present_days = attendance.count("P")
total_days = len(attendance)

percentage = (present_days / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [ ]:
#Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [ ]:
#Count Character Frequency
text = "python"

char_count = {}

for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [ ]:
#Convert List to Tuple
numbers = [10, 20, 30]

result = tuple(numbers)

print("Tuple:", result)

Tuple: (10, 20, 30)

In [ ]:
#Check if a Key Exists in a Dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000
}

key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [ ]:
#Calculate Average Marks
marks = [65, 70, 80, 75]

total = sum(marks)
count = len(marks)

average = total / count

print("Average Marks:", average)

Average Marks: 72.5